<head>
  <meta charset="UTF-8">
  <title>Budgetly</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="">
</head>

<body>
  <div>
    <header>
      <h1>
        Budgetly
      </h1>
    </header>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>

</html>