
<div class='welcome-page'>
  
    

  <div class='welcome-container'>
    <h1>Welcome to Budgetly</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, ipsa!
      Odit enim inventore debitis libero quia, facere quidem impedit
      reprehenderit officia, molestias iste quam, architecto iure numquam soluta
      voluptatum doloremque?</p>

    <div class='link-buttons'>

      <button
        class='btn btn-primary success loginbtn'
        role='button'
        aria-disabled='true'
      >Log In</button>
      <button
        class='btn btn-secondary info createbtn'
        role='button'
        aria-disabled='true'
      >Create an Account</button>
    </div>

  </div>
  <div class='logo'>
    </div>

  </div>

</div>

<script src='/js/homepage.js'></script>