<h1>Welcome, {{name}}!</h1>

{{#if logged_in}}
    <button id="logout-button"> LogOut</button>
    <a href="/goals">Goals</a>
{{/if}}
<p>Profile page coming soon...</p>

<script src="/js/logout.js"></script>   

