
/* http://localhost:3001/expenses */

body {
    margin-top: 100px;
}

.profile-page {
   display:flex;
   flex-direction: column;
   align-items:center;
   justify-content:center;
   height: 100vh;
}
.profile-card {
    color: gray;
    display:flex;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.profile-card a {
    color: gray;
}

.daily-expenses {
    margin: 5px;
}